In [28]:
import os

BASE_DIR = os.path.abspath(os.path.join(os.getcwd(), ".."))  # un nivel arriba del notebook
DATA_DIR = os.path.join(BASE_DIR, "data")
RAW_FILE = os.path.join(DATA_DIR, "quejas-clientes.csv")
INTERIM_DIR = os.path.join(DATA_DIR, "transformado")
os.makedirs(INTERIM_DIR, exist_ok=True)

In [29]:
import pandas as pd
# Lectura con parseo de fechas y tipos
dtype_map = {
    "Complaint ID": "Int64",
    "Product": "string",
    "Sub-product": "string",
    "Issue": "string",
    "Sub-issue": "string",
    "State": "string",
    "ZIP code": "string",
    "Company": "string",
    "Company response": "string",
    "Timely response?": "string",
    "Consumer disputed?": "string"
}

date_cols = ["Date received", "Date sent to company"]

df = pd.read_csv(
    RAW_FILE,
    dtype=dtype_map,
    parse_dates=date_cols,
    infer_datetime_format=True,
    dayfirst=False,  # formato habitual en este dataset
    low_memory=False
)

# Normalizar nombres de columnas (opcional)
df.columns = [c.strip().replace(" ", "_").replace("?", "").replace("-", "_") for c in df.columns]
df.head(10)

C:\Users\QiliDev\AppData\Local\Temp\ipykernel_12344\1366662854.py:19: FutureWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df = pd.read_csv(

,Unnamed:_0,Complaint_ID,Product,Sub_product,Issue,Sub_issue,State,ZIP_code,Date_received,Date_sent_to_company,Company,Company_response,Timely_response,Consumer_disputed
0,0,1291006,Debt collection,<NA>,Communication tactics,Frequent or repeated calls,TX,76119.0,2015-03-19,2015-03-19,"Premium Asset Services, LLC",In progress,Yes,<NA>
1,1,1290580,Debt collection,Medical,Cont'd attempts collect debt not owed,Debt is not mine,TX,77479.0,2015-03-19,2015-03-19,Accounts Receivable Consultants Inc.,Closed with explanation,Yes,<NA>
2,2,1290564,Mortgage,FHA mortgage,"Application, originator, mortgage broker",<NA>,MA,2127.0,2015-03-19,2015-03-19,RBS Citizens,Closed with explanation,Yes,Yes
3,3,1291615,Credit card,<NA>,Other,<NA>,CA,92592.0,2015-03-19,2015-03-19,Navy FCU,In progress,Yes,<NA>
4,4,1292165,Debt collection,Non-federal student loan,Cont'd attempts collect debt not owed,Debt resulted from identity theft,<NA>,43068.0,2015-03-19,2015-03-19,Transworld Systems Inc.,In progress,Yes,<NA>
5,5,1291176,Debt collection,Payday loan,Communication tactics,Called after sent written cease of comm,OH,43068.0,2015-03-19,2015-03-19,ACE Cash Express Inc.,In progress,Yes,<NA>
6,6,1288848,Consumer loan,Installment loan,Managing the loan or lease,<NA>,OH,44241.0,2015-03-18,2015-03-18,"CashCall, Inc.",Closed with explanation,Yes,x
7,7,1288788,Debt collection,Payday loan,Communication tactics,Called after sent written cease of comm,CA,95124.0,2015-03-18,2015-03-18,ACE Cash Express Inc.,Closed with explanation,Yes,<NA>
8,8,1288324,Debt collection,"Other (phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt was paid,NJ,7067.0,2015-03-18,2015-03-18,"Credit Protection Association, L.P.",Closed with non-monetary relief,Yes,<NA>
9,9,1288304,Debt collection,Payday loan,Taking/threatening an illegal action,Threatened arrest/jail if do not pay,TX,77433.0,2015-03-18,2015-03-18,Cottonwood Financial Ltd.,Closed with explanation,Yes,Yes

In [7]:
df.info()
df.sample(5, random_state=42)
df.describe(include='all').T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28156 entries, 0 to 28155
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed:_0            28156 non-null  int64
 1   Complaint_ID          28156 non-null  Int64
 2   Product               28156 non-null  string
 3   Sub_product           17582 non-null  string
 4   Issue                 28154 non-null  string
 5   Sub_issue             13211 non-null  string
 6   State                 27735 non-null  string
 7   ZIP_code              27876 non-null  string
 8   Date_received         28156 non-null  datetime64[ns]
 9   Date_sent_to_company  28156 non-null  datetime64[ns]
 10  Company               28156 non-null  string
 11  Company_response      28156 non-null  string
 12  Timely_response       28156 non-null  string
 13  Consumer_disputed     6006 non-null   string
dtypes: Int64(1), datetime64[ns](2), int64(1), string(10)
memory usage: 3.0 MB

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
Unnamed:_0,28156.0,NaN,NaN,NaN,14077.5,0.0,7038.75,14077.5,21116.25,28155.0,8128.081426
Complaint_ID,28156.0,<NA>,<NA>,<NA>,1225267.061088,1177839.0,1200523.25,1224512.0,1248698.25,1292165.0,28352.716266
Product,28156,11,Debt collection,7494,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sub_product,17582,42,Conventional fixed mortgage,2446,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Issue,28154,89,Incorrect information on credit report,4170,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sub_issue,13211,46,Debt is not mine,2125,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State,27735,59,CA,3859,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZIP_code,27876,9868,76116.0,58,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Date_received,28156,NaN,NaN,NaN,2015-02-03 23:08:26.833357056,2015-01-01 00:00:00,2015-01-20 00:00:00,2015-02-04 00:00:00,2015-02-19 00:00:00,2015-03-19 00:00:00,NaN
Date_sent_to_company,28156,NaN,NaN,NaN,2015-02-06 22:10:08.609177600,2015-01-01 00:00:00,2015-01-22 00:00:00,2015-02-06 00:00:00,2015-02-24 00:00:00,2015-03-19 00:00:00,NaN
Company,28156,1534,Equifax,2049,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Company_response,28156,6,Closed with explanation,19381,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Timely_response,28156,2,Yes,27444,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Consumer_disputed,6006,3,Yes,4707,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:

dups = df[df.duplicated(subset=["Complaint_ID"], keep=False)]
print(f"Duplicados por Complaint_ID: {dups.shape[0]}")
df = df.drop_duplicates(subset=["Complaint_ID"], keep="first")

Duplicados por Complaint_ID: 0

In [9]:
# Normalizar target a 0/1 y marcar nulos explícitos
df["Consumer_disputed"] = df["Consumer_disputed"].str.strip().str.title()
df["target_disputed"] = df["Consumer_disputed"].map({"Yes": 1, "No": 0}).astype("Int64")

df["ZIP_code"] = df["ZIP_code"].str.extract(r"(\d{5})")  # guarda NaN si no hay 5 dígitos

In [30]:

df.isnull().sum()

Unnamed:_0                  0
Complaint_ID                0
Product                     0
Sub_product             10574
Issue                       2
Sub_issue               14945
State                     421
ZIP_code                  280
Date_received               0
Date_sent_to_company        0
Company                     0
Company_response            0
Timely_response             0
Consumer_disputed       22150
dtype: int64

In [31]:
df.drop(columns=['Unnamed:_0'], inplace=True)

print(df.columns)

# Imputar valores nulos si es necesario
df['State'].fillna('Desconocido', inplace=True)
df['Product'].fillna('Desconocido', inplace=True)
df['Company'].fillna('Desconocido', inplace=True)
df['Company_response'].fillna('Desconocido', inplace=True)

from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()

df['Product'] = label_encoder.fit_transform(df['Product'])
df['State'] = label_encoder.fit_transform(df['State'])
df['Company'] = label_encoder.fit_transform(df['Company'])
df['Company_response'] = label_encoder.fit_transform(df['Company_response'])

df['Timely_response'] = df['Timely_response'].map({'Yes': 1, 'No': 0})

# Mapear valores en 'Consumer_disputed'
df['Consumer_disputed'] = df['Consumer_disputed'].map({'Yes': 1, 'No': 0})

df.head()

Index(['Complaint_ID', 'Product', 'Sub_product', 'Issue', 'Sub_issue', 'State',
       'ZIP_code', 'Date_received', 'Date_sent_to_company', 'Company',
       'Company_response', 'Timely_response', 'Consumer_disputed'],
      dtype='object')

C:\Users\QiliDev\AppData\Local\Temp\ipykernel_12344\3785692855.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['State'].fillna('Desconocido', inplace=True)
C:\Users\QiliDev\AppData\Local\Temp\ipykernel_12344\3785692855.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Product'].fillna('Desconocido', inplace=True)
C:\Users\QiliDev\AppData\Local\Temp\ipykernel_12344\3785692855.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Company'].fillna('Desconocido', inplace=True)
C:\Users\QiliDev\AppData\Local\Temp\ipykernel_12344\3785692855.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Company_response'].fillna('Desconocido', inplace=True)

,Complaint_ID,Product,Sub_product,Issue,Sub_issue,State,ZIP_code,Date_received,Date_sent_to_company,Company,Company_response,Timely_response,Consumer_disputed
0,1291006,4,<NA>,Communication tactics,Frequent or repeated calls,51,76119.0,2015-03-19,2015-03-19,1069,4,1,NaN
1,1290580,4,Medical,Cont'd attempts collect debt not owed,Debt is not mine,51,77479.0,2015-03-19,2015-03-19,50,1,1,NaN
2,1290564,6,FHA mortgage,"Application, originator, mortgage broker",<NA>,24,2127.0,2015-03-19,2015-03-19,1118,1,1,1.0
3,1291615,2,<NA>,Other,<NA>,7,92592.0,2015-03-19,2015-03-19,967,4,1,NaN
4,1292165,4,Non-federal student loan,Cont'd attempts collect debt not owed,Debt resulted from identity theft,12,43068.0,2015-03-19,2015-03-19,1401,4,1,NaN

In [12]:
# Verificar los nombres de las columnas
print(df.columns)

# Eliminar la columna 'Unnamed:_0' si está presente, o cualquier columna no deseada
df.drop(columns=[col for col in df.columns if 'Unnamed' in col], inplace=True)

# Verificar las columnas restantes
print(df.columns)

Index(['Complaint_ID', 'Product', 'Sub_product', 'Issue', 'Sub_issue', 'State',
       'ZIP_code', 'Date_received', 'Date_sent_to_company', 'Company',
       'Company_response', 'Timely_response', 'Consumer_disputed',
       'target_disputed'],
      dtype='object')
Index(['Complaint_ID', 'Product', 'Sub_product', 'Issue', 'Sub_issue', 'State',
       'ZIP_code', 'Date_received', 'Date_sent_to_company', 'Company',
       'Company_response', 'Timely_response', 'Consumer_disputed',
       'target_disputed'],
      dtype='object')

In [36]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df.drop(columns=['Complaint_ID'], inplace=True, errors='ignore')

df['State'] = df['State'].fillna('Desconocido')
df['Product'] = df['Product'].fillna('Desconocido')
df['Company'] = df['Company'].fillna('Desconocido')
df['Company_response'] = df['Company_response'].fillna('Desconocido')

for c in ['Product','State','Company','Company_response']:
    le = LabelEncoder()
    df[c] = le.fit_transform(df[c])

m = {"Yes":1,"No":0,"x":1,1:1,0:0}
df['Timely_response'] = df['Timely_response'].replace(m).fillna(0).astype(int)
df['Consumer_disputed'] = df['Consumer_disputed'].replace(m).fillna(0).astype(int)
df['target_disputed'] = df['Consumer_disputed'].fillna(0).astype(int)

df['Date_received'] = pd.to_datetime(df['Date_received'], errors='coerce')
df['Date_sent_to_company'] = pd.to_datetime(df['Date_sent_to_company'], errors='coerce')
df['Days_to_response'] = (df['Date_sent_to_company'] - df['Date_received']).dt.days

df.head()

,Product,Sub_product,Issue,Sub_issue,State,ZIP_code,Date_received,Date_sent_to_company,Company,Company_response,Timely_response,Consumer_disputed,target_disputed,Days_to_response
0,4,<NA>,Communication tactics,Frequent or repeated calls,51,76119.0,2015-03-19,2015-03-19,1069,4,1,0,0,0
1,4,Medical,Cont'd attempts collect debt not owed,Debt is not mine,51,77479.0,2015-03-19,2015-03-19,50,1,1,0,0,0
2,6,FHA mortgage,"Application, originator, mortgage broker",<NA>,24,2127.0,2015-03-19,2015-03-19,1118,1,1,1,1,0
3,2,<NA>,Other,<NA>,7,92592.0,2015-03-19,2015-03-19,967,4,1,0,0,0
4,4,Non-federal student loan,Cont'd attempts collect debt not owed,Debt resulted from identity theft,12,43068.0,2015-03-19,2015-03-19,1401,4,1,0,0,0

In [37]:
# Imputar valores nulos para las columnas categóricas
df['Sub_product'].fillna('Desconocido', inplace=True)
df['Sub_issue'].fillna('Desconocido', inplace=True)

df['Timely_response'].fillna(0, inplace=True)
df['Consumer_disputed'].fillna(0, inplace=True)
df['target_disputed'].fillna(0, inplace=True)  

df.dropna(subset=['Product', 'State', 'Company'], inplace=True)

print(df.isnull().sum())
df.head()

Product                   0
Sub_product               0
Issue                     2
Sub_issue                 0
State                     0
ZIP_code                280
Date_received             0
Date_sent_to_company      0
Company                   0
Company_response          0
Timely_response           0
Consumer_disputed         0
target_disputed           0
Days_to_response          0
dtype: int64

C:\Users\QiliDev\AppData\Local\Temp\ipykernel_12344\1001385628.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sub_product'].fillna('Desconocido', inplace=True)
C:\Users\QiliDev\AppData\Local\Temp\ipykernel_12344\1001385628.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Sub_issue'].fillna('Desconocido', inplace=True)
C:\Users\QiliDev\AppData\Local\Temp\ipykernel_12344\1001385628.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Timely_response'].fillna(0, inplace=True)
C:\Users\QiliDev\AppData\Local\Temp\ipykernel_12344\1001385628.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Consumer_disputed'].fillna(0, inplace=True)
C:\Users\QiliDev\AppData\Local\Temp\ipykernel_12344\1001385628.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['target_disputed'].fillna(0, inplace=True)

,Product,Sub_product,Issue,Sub_issue,State,ZIP_code,Date_received,Date_sent_to_company,Company,Company_response,Timely_response,Consumer_disputed,target_disputed,Days_to_response
0,4,Desconocido,Communication tactics,Frequent or repeated calls,51,76119.0,2015-03-19,2015-03-19,1069,4,1,0,0,0
1,4,Medical,Cont'd attempts collect debt not owed,Debt is not mine,51,77479.0,2015-03-19,2015-03-19,50,1,1,0,0,0
2,6,FHA mortgage,"Application, originator, mortgage broker",Desconocido,24,2127.0,2015-03-19,2015-03-19,1118,1,1,1,1,0
3,2,Desconocido,Other,Desconocido,7,92592.0,2015-03-19,2015-03-19,967,4,1,0,0,0
4,4,Non-federal student loan,Cont'd attempts collect debt not owed,Debt resulted from identity theft,12,43068.0,2015-03-19,2015-03-19,1401,4,1,0,0,0

In [39]:

df['Issue'] = df['Issue'].fillna(df['Issue'].mode()[0])

# Imputar valores nulos en 'ZIP_code' con 'Desconocido' o eliminar la columna
df['ZIP_code'] = df['ZIP_code'].fillna('Desconocido')  # Si decides imputar, puedes usar 'Desconocido'

print(df.isnull().sum())

Product                 0
Sub_product             0
Issue                   0
Sub_issue               0
State                   0
ZIP_code                0
Date_received           0
Date_sent_to_company    0
Company                 0
Company_response        0
Timely_response         0
Consumer_disputed       0
target_disputed         0
Days_to_response        0
dtype: int64

In [40]:
df.head(10)

,Product,Sub_product,Issue,Sub_issue,State,ZIP_code,Date_received,Date_sent_to_company,Company,Company_response,Timely_response,Consumer_disputed,target_disputed,Days_to_response
0,4,Desconocido,Communication tactics,Frequent or repeated calls,51,76119.0,2015-03-19,2015-03-19,1069,4,1,0,0,0
1,4,Medical,Cont'd attempts collect debt not owed,Debt is not mine,51,77479.0,2015-03-19,2015-03-19,50,1,1,0,0,0
2,6,FHA mortgage,"Application, originator, mortgage broker",Desconocido,24,2127.0,2015-03-19,2015-03-19,1118,1,1,1,1,0
3,2,Desconocido,Other,Desconocido,7,92592.0,2015-03-19,2015-03-19,967,4,1,0,0,0
4,4,Non-federal student loan,Cont'd attempts collect debt not owed,Debt resulted from identity theft,12,43068.0,2015-03-19,2015-03-19,1401,4,1,0,0,0
5,4,Payday loan,Communication tactics,Called after sent written cease of comm,41,43068.0,2015-03-19,2015-03-19,15,4,1,0,0,0
6,1,Installment loan,Managing the loan or lease,Desconocido,41,44241.0,2015-03-18,2015-03-18,291,1,1,0,0,0
7,4,Payday loan,Communication tactics,Called after sent written cease of comm,7,95124.0,2015-03-18,2015-03-18,15,1,1,0,0,0
8,4,"Other (phone, health club, etc.)",Cont'd attempts collect debt not owed,Debt was paid,37,7067.0,2015-03-18,2015-03-18,409,3,1,0,0,0
9,4,Payday loan,Taking/threatening an illegal action,Threatened arrest/jail if do not pay,51,77433.0,2015-03-18,2015-03-18,382,1,1,1,1,0

In [41]:
# Guardar el dataframe limpio en formato CSV
cleaned_file = os.path.join(INTERIM_DIR, "quejas_limpias.csv")
df.to_csv(cleaned_file, index=False)